$information-tablet: "screen and (min-width : 768px)";
$information-laptop: "screen and (min-width : 1200px)";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 2rem;

    @media #{$information-tablet} {
        font-size: 3rem;
    }
    @media #{$information-laptop} {
        font-size: 4rem;
    }
}

.flex-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}